.box{
    margin: 50px;
    width: 0px;
    height: 0px;

    background: transparent;

    /* border: 10px solid red; */
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: red transparent transparent transparent;
    border-radius: 50%;
}