.container{
    padding: 1px; 
    /* - container (объединяющийэлемент)становится больше на внешние 
    отступы сверху и снизу элементов, выходящих за него, элемент 
    становится больше брагодаря внутреннему отступу (на любое значение),
     то же самое с border*/
}
.box{
    width: 100px;
    height: 100px;
    margin: 50px 0;
    background: black;
}