body{
    /* 
    padding - внутренние отступы
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50px; - то же самое, что и код снизу (размерность идет по часовой стрелке) 
    padding: 10px; - размер отступа будет установлен со всех сторон
    padding: 10px 20px; - перавое значение для верхнего  и нижнего отступа, второе для левого и правого
    padding: 10px 30px 40px; - все как обычно по часовой стрелке, только левое значение дублируется с правого автоматически

    margin - внешние отступы (между самими элементами)
    margin: auto; - занимает центральное свободное пространство, устанавливаются отступы как слева, так и справа
    значения margin работают так же, как и padding

    div, span - просто какой-то блок для стилизации
    */
    /* padding: 10px 30px 40px 50px; */
    margin: 0;
}
ul{
    list-style-position: inside;
    padding: 0;
}
.container{
    max-width: 400px;
    margin: auto;
}